@model IEnumerable<ChapmanUniversity1._0.Models.StudentSemesterEnrollment>

@{
    ViewData["Title"] = "View";
}

<h1>Registered ICourses</h1>

<p>
    <a asp-action="Create">Register</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester.CourseSeason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.CourseSeason)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">UnEnroll</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back", "Details", "Students")
</div>

